@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

input {
    width: 60px;
}

div.numeros {
    margin: 10px;
}

div.botoes > input{
    margin: 10px;
}

div#resultado {
    margin: 10px;
}
